/* lembra que se tu usar o mesmo nome da classe em outro arquivo css, ele vai sobrescrever o css do outro arquivo */

/* .container {
    padding: 20px;
  } */
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  button {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff1a1a;
  }
  